<!DOCTYPE html>
<html lang="pt_br" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista telefônica</title>

    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table{
            margin-top: 20px;
        }
        .form-contrl{
            margin-bottom: 5px;
        }
    </style>

    <script src="lib/angular/angular.min.js"></script>
    <script>

        //registra modulo
        angular.module("listaTelefonica", []);

        //recupera modulo criado e gera um controller
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista telefônica";
            $scope.contatos = [
                {nome: "Pedro", telefone: 2199998888},
                {nome: "Ana", telefone: 2199997777},
                {nome: "Maria", telefone: 2199996666},
            ];
            $scope.operadoras = [
                {nome: "Oi", codigo: 1, categoria: "Celular"},
                {nome: "Claro", codigo: 2, categoria: "Celular"},
                {nome: "Tim", codigo: 3, categoria: "Celular"},
                {nome: "GVT", codigo: 4, categoria: "Fixo"},
                {nome: "Embratel", codigo: 5, categoria: "Fixo"},
            ];
            $scope.adicionarContato = function (contato){
                $scope.contatos.push(angular.copy(contato));

                delete $scope.contato;
            };
            $scope.removeContatosSelecionados = function (contatos){
                $scope.contatos = contatos.filter(function(contato){
                    if(!contato.selecionado) return contato;
                });
            };
        });

    </script>
</head>


<body ng-controller="listaTelefonicaCtrl">

    <div class="container">
        <div class="jumbotron">
            <h4 class="display-6">{{ app }}</h4>
            <table class="table">
                <tr >
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{'table-warning': contato.selecionado}" ng-repeat="contato in contatos">
                    <td>
                        <input type="checkbox" ng-model="contato.selecionado"/>
                    </td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                </tr>
            </table>
            <div class="d-grid gap-2">
                <input class="form-control" type="text" ng-model="contato.nome"/>
                <input class="form-control" type="text" ng-model="contato.telefone"/>
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora as operadora.nome for operadora in operadoras">
                    <option value="">--- selecione uma operadora ---</option>
                </select>
                <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
                <button class="btn btn-danger btn-block" ng-click="removeContatosSelecionados(contatos)">Remover contatos selecionados</button>
            </div>
        </div>
    </div>
    
    <script src="lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>